.section-download{
   padding: 5rem 0;
   text-align: center;
   background-color: $bg-blue;
   color: $text-white;
   position: relative;

   &--heading {
      line-height: 1.3;
      font-weight: 700;
   }

   &--img {
      position: absolute;
      right: 0;
      top: -30px;

      @media only screen and (max-width: 736px) {
         top: -10px;
         width: 20%;
      }
   }

   &--text {
      line-height: 1.7;
      font-weight: 300;
   }

   .app-buttons {
      padding: 0.5rem 0;
      text-align: center;

      &__play-store{
         margin-right: 1.5rem;
      }
   }
}